.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    // text-align: center;
    // border-radius: 6px;
    // padding: 8px 0;
    position: absolute;
    // z-index: 1;
    // bottom: 125%;
    // left: 50%;
    // margin-left: -80px;
    // position: absolute; 
  bottom: 0; 
//   background: rgb(0, 0, 0);
//   background: rgba(0, 0, 0, 0.5); /* Black see-through */
//   color: #f1f1f1; 
//   width: 100%;
  transition: .5s ease;
  opacity:2;
//   color: white;
//   font-size: 20px;
//   padding: 20px;
  text-align: center;
  }
  .popup .popuptext:hover .overlay {
      opacity: 1;



  }
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    // top: 100%;
    // left: 50%;
    margin-left: -5px;
    border-width: 50px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    animation-name: fadeIn;
    // -webkit-animation: fadeIn 1s;
    z-index: 1; 
    // -webkit-animation-name: fadeIn;
    // -webkit-animation-name: slideIn;
    // -webkit-animation-duration: 0.4s;
    // animation-name: slideIn;
    // animation-duration: 0.4s


    // animation: fadeIn 1s
  }
  
 
/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }